body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header-section {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    padding: 0 15px;
}
.header-section .container {
    display: flex;
    align-items: center;
}
.menu-nav {
    display: flex;
    align-items: center
}
.menu-list {
    display: flex;
    column-gap: 40px;
}
.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px; 
}
.header-accent {
    color: #2E2F42;
}
.header-link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}
.header-link:hover {
    color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
}

.contacts-link {
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}
.contacts-link:hover {
    color: #404bbf;
}
.contacts-link:focus {
    color: #404bbf;
}


/* Main */

/* Button */
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/* Our benefits */
.benefit-section {
    padding: 120px 0;
}
.benefit-section .container {
    display: block;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefit-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.benefit-list {
    display: flex;
    column-gap: 24px;

}
.benefit-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.benefit-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our team */
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section .container {
    display: block;
    align-items: center;
}
.team-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    column-gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-container {
    padding: 32px 0;
}

.person-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
}

.person-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

/* Our Portfolio */
.portfolio-section {
    padding: 120px 0;
}
.portfolio-section .container {
    display: block;
    align-items: center;
    
 }
.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
 }
 .portfolio-item {
    width: calc((100% - 48px) / 3);
 }
.projects-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.projects-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.projects-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Footer */
.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-accent {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}